* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}

@media (max-width: 700px) {

  input,
  textarea,
  select {
    font-size: 16px;
    /* Ajuste o tamanho da fonte */
    -webkit-text-size-adjust: 100%;
    /* Impede o ajuste de tamanho do texto no iOS */
  }
}

:root {
  --bg-color: #001;
  --secund-bg-color: #112;
  --text-color: #fff;

  --dark-900: #101026;
  --dark-700: #1d1d2e;

  --gray-100: #8a8a8a;
  --green-900: #3fffa3;
  --red-900: #ff3f4b;

  --violet: #7f29e2;
  --green-neon: #39ff14;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: crimson;
  width: 40px;
}

body {
  background-color: var(--dark-900);
  /*background-color: var(--bg-color);*/
  color: var(--text-color);
}

/* styles Header */

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Header SectionCode */

header {
  /*background-color: var(--dark-900);*/
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 9%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.logo a span {
  color: crimson;
  transition: all 0.5s ease;
}

.menu {
  display: flex;
}

.menu.active {
  display: block;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  overflow: visible;
}

button span {
  color: #fff;
}

.menu li {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  color: #fff;
}

li>a>button {
  position: relative;
  display: grid;
  place-content: center;
  grid-template-areas: "stack";
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
}

li>a>button>span {
  transition: all 300ms ease-in-out;
  grid-area: stack;
}

li>a>button>span:last-of-type {
  margin-top: 0.25rem;
  transform: scale(0);
  transition-delay: 0ms;
  border-radius: 50%;
}

li>a>button:focus-visible>span:first-of-type,
li>a>button:hover>span:first-of-type {
  transform: scale(0);
}

li>a>button:focus-visible>span:last-of-type,
li>a>button:hover>span:last-of-type {
  transform: scale(1);
  color: crimson;
}

.menu a {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 4rem;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.menu-btn {
  color: #ffffff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* end - styles Header */

/*-----------------------------------------------------------------------------------*/

/* styles - home section code */

.home {
  display: flex;
  align-items: center;
  /*background-color: var(--bg-color);*/
  background-color: var(--dark-900);
}

.line {
  width: 35vw;
  height: 25vw;
  margin-left: 100px;
  border: 3px solid crimson;
  border-radius: 51% 49% 48% 52% / 49% 49% 24% 24%;
  animation: borderAinmation 5s linear infinite;
}

.home-img img {
  width: 25vw;
  margin-left: 100px;
  border: 3px solid crimson;
  border-radius: 51% 49% 48% 52% / 49% 49% 24% 24%;
  animation: borderAinmation 5s linear infinite;
}

@keyframes borderAinmation {
  0% {
    border-radius: 51% 49% 48% 52% / 49% 49% 24% 24%;
  }

  35% {
    border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
  }

  65% {
    border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
  }

  100% {
    border-radius: 51% 49% 48% 52% / 49% 49% 24% 24%;
  }
}

.featured-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 50vh;
  margin-bottom: -200px;
  flex-direction: column;
  width: 60%;
}

.featured-text .hello {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: -20px;
  color: var(--text-color);
}

.featured-name {
  font-size: 50px;
  font-weight: 600;
  color: crimson;
  margin-block: 20px;
  margin-bottom: 10px;
}

#SliderValue {
  display: flex;
  font-family: sans-serif;
  color: crimson;
  font-size: 70px;
  font-weight: 600;
}

.start {
  opacity: 0;
}

.animation {
  animation: fade 0.3s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.holder-animation {
  animation: holder 4s;
}

@keyframes holder {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.featured-text-info {
  font-size: 16px;
  margin-bottom: 30px;
}

.social_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -5px;
  gap: 32px;
}

.social_icons i {
  color: #ddd;
  font-size: 16px;
  background-color: transparent;
  margin: 5px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 1px 5px 3px crimson;
  border-radius: 25%;
  transition: 0.5s;
}

.social_icons i:hover {
  transform: scale(1.2);
}

/* End - home section code */

/*-----------------------------------------------------------------------------------*/

/* About Section code */

.about {
  background-color: #bbb;
  min-height: 50vh;
}

/*.about-container{*/
/*  display: grid;*/
/*  grid-template-columns: repeat(2, 1fr);*/
/*  gap: 20rem*/
/*}*/

/* .title_h1 {
  color: #000;
  margin-bottom: 1.1rem;
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
  color: #000;
} */

.about p {
  color: #000;
  margin: 1.5rem 0;
  font-size: 20px;
  font-weight: 600;
}

.about_social {
  margin-top: 10px;
  margin-bottom: 25px;
}

.about_social i {
  color: crimson;
  font-size: 16px;
  background-color: #101026;
  margin: 5px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 25%;
  transition: 0.5s;
  border: 1.5px solid crimson;

  /*box-shadow: 0 1px 5px 3px crimson;*/
}

.about_social i:hover {
  transform: scale(1.5);
  box-shadow: 0 1px 5px 3px crimson;
}

.btn-b {
  display: inline-block;
  background: crimson;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin: 10px 0 0 3px;
  border-radius: 6px;
  /*box-shadow: 0 1px 5px 3px crimson;*/
  color: #fff;
  transition: all 0.3s ease;

  border: 2px solid crimson;
}

.btn-b:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 5px 3px crimson;
  color: #fff;
  background: none;
}

/* End - About Section code */

/*-----------------------------------------------------------------------------------*/

.servicesProjetos {
  color: #fff;
  background: var(--dark-900);
}

.services-listProjetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 40px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.backcolordiv {
  background: var(--dark-700);
}

.services-listProjetos div {
  background: var(--dark-700);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 15px;
  border: 2px solid crimson;
  transition: background 0.5s, transform 0.5s;
}

.services-listProjetos div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-listProjetos div h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-listProjetos div a {
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
}

.services-listProjetos div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

@media (max-width: 600px) {
  .services-listProjetos {
    grid-template-columns: 1fr;
    /* Para telas menores, um item por linha */
  }
}

/* ----------------------------------------------------------------- */

/* Services Section Code */

.services {
  color: #fff;
  background: var(--dark-900);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 40px;
  margin-top: 50px;
  margin-bottom: 2rem;
}

.services-list div {
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 15px;
  border: 2px solid crimson;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/*-----------------------------------------------------------------------------------*/

.tecnologias {
  color: #fff;
  background: var(--dark-900);
}

.tecnologias-content {
  background: var(--dark-900);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.3rem;
  align-items: center;
  padding-top: 4.2rem;
  padding-bottom: 1rem;
}

.tech-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white !important;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px crimson;
  padding: 20px;
  transition: all 0.3s ease;
  max-height: 200px;
  min-height: 200px;
  /* max-width: 250px */
}

.tech-row img {
  justify-content: center;
  max-height: 150px;
  max-width: 150px;
}

/* -------------------------------------------- */

/* Portfolio section code */

.portfolio {
  background: #bbb;
}

.portfolio-content {
  background: #bbb;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 2.3rem;
  margin-top: 4.2rem;
  align-items: center;
  padding-bottom: 4.2rem;
}

.row {
  background: var(--dark-700);
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px crimson;
  padding: 20px;
  transition: all 0.3s ease;

  video {
    height: 220px;
  }
}

.verPagina {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.7s;

  &:hover {
    color: crimson;
    transform: scale(1.1);
  }
}

row-icon:hover {
  color: crimson;
}

.row img,
video {
  height: auto;
  width: 100%;
  border-radius: 28px;
  margin-bottom: 1.4rem;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.row i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  font-size: 27px;
  border-radius: 50%;
  background: crimson;
  color: var(--text-color);
}

.row h4 {
  font-size: 16px;
  font-weight: 700px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.row h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}

.row:hover {
  border: 1px solid crimson;
  transform: translateY(-5px) scale(1);
  cursor: pointer;
}

.colorBlack {
  color: #000;
}

/*-----------------------------------------------------------------------------------*/

/* certificados section code */

.certificados {
  background: var(--dark-900);
}

.certificados-content {
  background: var(--dark-900);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2.3rem;
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;

  .row {
    background-color: #000;
    display: flex;
    /* Para centralizar a imagem */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
  }
}

.imgCertificado {
  border-radius: 6px;
  height: 25px;
  width: 100%;
  object-fit: contain;
  /* Mantém a proporção da imagem */
  border-radius: 15px;
}

/*-----------------------------------------------------------------------------------*/

/* Contact section code */

.contact {
  margin-top: 4.2rem;
  /* margin-bottom: 15px; */
  background: #bbb;
  padding-top: 4.2rem;

  h2 {
    margin-bottom: 3rem;
  }
}

.headingContato {
  width: 900px;
  display: flex;
  font-size: 2rem;
  max-width: 90%;
  margin: 24px auto;
}

.contact form {
  max-width: 90rem;
  margin: 1rem auto;
  text-align: center;
  /* margin-bottom: 2rem; */
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  border: 2px solid crimson;
  margin: 0.7rem 0;
  border-radius: 0.8rem;
  background: transparent;
  resize: none;
  background-color: var(--dark-900);
}

.contact form .input-box input,
.contact form textarea:hover {
  border: 1px solid crimson;
}

.contact form .input-box input {
  width: 49%;
  margin: 0.7rem 0.35rem;
}

.contact .btn-t {
  margin-top: 2rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 250px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  font-weight: bold;
}

.contact form .btn-t:hover {
  box-shadow: 0 0 10px var(--dark-900);
}

/* ------------------------------------------------------------------ */

/* Footer section code */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background: var(--dark-900);
  margin-top: 24px;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  height: 60px;
}

.footer .social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 2rem;
  margin: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 1px 5px 3px crimson;
  color: crimson;
  border-radius: 25%;
  transition: 0.5s;
}

.footer .social a:hover {
  transform: scale(1.5) translateY(-8px);
  box-shadow: 0 0 20px crimson;
}

.footer .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.whatsapp-button {
  margin-top: 8px;
  text-align: center;
  color: #000;
}

.btn-whatsapp {
  margin-bottom: 2rem;
  color: #000;
  background-color: #39ff14;
  margin-top: 0.5rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  border: 2px solid 39FF14;
  transition: all 0.3s ease;

  span {
    font-weight: bold;
    color: #000;
  }

  i {
    color: #000;
    margin-left: 8px;
    font-size: 22px;
    font-weight: bold;
  }

  &:hover {
    border: var(--dark-900);
    box-shadow: 0 0 10px var(--dark-900);
  }
}

@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }

  .title_h1 {
    font-size: 25px;
  }

  .about-container {
    grid-template-columns: auto;
  }

  .textAreaContact {
    width: 90%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 3rem 10%;
  }

  section {
    padding: 5rem 10% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active::before {
    content: "\f00d";
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    flex-direction: column;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .menu active {
    left: 0;
  }

  .menu li {
    display: block;
  }

  .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .textAreaContact {
    width: 90%;
  }
}

@media (max-width: 786px) {
  section {
    padding: 5rem 10% 2rem;
  }

  .line {
    display: none;
  }

  .home-img img {
    display: none;
  }

  .about {
    flex-direction: column;
  }

  .contact form .input-box input {
    width: 100%;
  }

  video {
    max-height: 220px !important;
  }

  .tech-row {
    max-height: 100px;
    min-height: 100px;
  }

  .tech-row img {
    max-height: 150px;

  }
}